/* src/index.css */

/* Configuración básica de la estructura de la página */
html,
body,
#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,
footer {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Ajuste de la posición del header y footer */
header {
    top: 0;
}

footer {
    bottom: 0;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    background-color: #001529;
    /* Azul oscuro */
    color: white;
    text-align: center;
}

/* Contenido principal con ajuste de espacio para header y footer */
.main-content {
    flex: 1;
    padding-top: 80px;
    /* Ajustado para la altura del header con el logo de 60px */
    padding-bottom: 40px;
    /* Espacio para el footer */
    overflow-y: auto;
}

/* Estilos personalizados para el Header/Navbar */
.navbar-custom {
    background-color: #1890ff !important;
    /* Azul similar a los botones de Ant Design */
    color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white !important;
}

.navbar-custom .nav-link:hover {
    color: #e6f7ff !important;
    /* Color más claro en hover */
}

/* Estilo para los elementos dentro del dropdown de Cuenta */
#account-dropdown .dropdown-item {
    color: black !important;
}

#account-dropdown .dropdown-item:hover {
    color: #1890ff !important;
    background-color: #e6f7ff;
}